{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Edytuj swój profil</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="columns">
                    <div class="column is-half">
                        <h3 class="title is-3">Informacje o profilu:</h3>
                        <div class="field">
                            {{ profile_form.phone_number.label_tag }}
                            {{ profile_form.phone_number|add_class:"input" }}
                        </div>
                    </div>
                    <div class="column is-half">
                        <h3 class="title is-3">Adres:</h3>
                        <div class="field">
                            {{ address_form.address_line_1.label_tag }}
                            {{ address_form.address_line_1|add_class:"input" }}
                        </div>
                        <div class="field">
                            {{ address_form.address_line_2.label_tag }}
                            {{ address_form.address_line_2|add_class:"input" }}
                        </div>
                        <div class="field">
                            {{ address_form.city.label_tag }}
                            {{ address_form.city|add_class:"input" }}
                        </div>
                        <div class="field">
                            {{ address_form.zip_code.label_tag }}
                            {{ address_form.zip_code|add_class:"input" }}
                        </div>
                        <div class="field">
                            {{ address_form.country.label_tag }}
                            {{ address_form.country|add_class:"input" }}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Zapisz zmiany</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
