{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Lista produktów</h1>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="?">Wszystkie</a></li>
                    {% for category in categories %}
                        <li><a href="?category={{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="tile is-ancestor is-flex-wrap-wrap">
                {% for product in products %}
                    <div class="tile is-6 is-parent">
                        <article class="tile is-child box">
                            <form method="post" action="{% url 'add_to_cart_or_buy' %}">
                                {% csrf_token %}
                                <p class="title">{{ product.name }}</p>
                                <p class="subtitle">{{ product.category.name }}</p>
                                <img src="{{ product.image.url }}" alt="Nie udało się załadować obrazka">
                                <p>{{ product.description }}</p>
                                <div class="content">
                                    <p>Quantity: {{ product.inventory.quantity }}</p>
                                    <p>Price: {{ product.get_price }}zł</p>
                                </div>
                                <div class="field">
                                    <label class="label">Ilość</label>
                                    <div class="control">
                                        <input class="input" type="number" name="quantity" min="1"
                                               max="{{ product.inventory.quantity }}" value="1">
                                    </div>
                                </div>
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link" type="submit" name="action" value="add_to_cart">
                                            Dodaj do koszyka
                                        </button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-primary" type="submit" name="action" value="buy_now">
                                            Kup teraz
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
