{% extends 'base.html' %}

{% block title %}Sahara - Strona główna.{% endblock %}
{% block content %}
    <div class="container">
        <header>
            <h1 class="title my-5">Witaj w Saharze</h1>
        </header>

        <main>
            <div class="card my-5">
                <div class="card-header">
                    <p class="card-header-title">O nas</p>
                </div>
                <div class="card-content">Sahara to dynamiczny sklep internetowy oferujący szeroki wybór produktów dla
                    każdego. Naszą misją jest
                    zapewnienie naszym klientom wszystkiego, czego potrzebują, w jednym miejscu, z dbałością o jakość i
                    wygodę
                    zakupów.
                </div>
            </div>
            <div class="card my-5">
                <div class="card-header">
                    <p class="card-header-title">Nasza oferta</p>
                </div>
                <div class="card-content"> Od elektroniki i sprzętu AGD, po artykuły do domu i modę, nasza oferta jest
                    tak szeroka, że każdy
                    znajdzie
                    coś
                    dla siebie. Wszystkie nasze produkty są dokładnie wybierane i sprawdzane, aby zapewnić najwyższą
                    jakość
                    i
                    satysfakcję naszych klientów.
                </div>
            </div>
            <div class="card my-5">
                <div class="card-header">
                    <p class="card-header-title">Zakupy w Saharze</p>
                </div>
                <div class="card-content">Zakupy w Saharze to prawdziwa przyjemność. Nasz intuicyjny i przyjazny
                    interfejs pozwala na łatwe i
                    szybkie
                    znalezienie tego, czego potrzebujesz. Dostępność produktów jest monitorowana na bieżąco, aby
                    zapewnić Ci
                    dostęp
                    do najnowszych i najlepszych produktów.
                </div>
            </div>
            <div class="card my-5">
                <div class="card-header">
                    <p class="card-header-title">Potrzebujesz wsparcia?</p>
                </div>
                <div class="card-content">Jeśli potrzebujesz pomocy przy wyborze produktów lub masz pytania dotyczące
                    naszej oferty, nasz zespół
                    wsparcia
                    jest zawsze gotowy, aby pomóc. Nasz zespół składa się z wykwalifikowanych i doświadczonych
                    ekspertów,
                    którzy
                    z
                    przyjemnością odpowiedzą na wszystkie Twoje pytania.
                </div>
            </div>
            <div class="card my-5">
                <div class="card-header">
                    <p class="card-header-title">Szybkie dostawy</p>
                </div>
                <div class="card-content">Dostawa jest jednym z naszych priorytetów. Wszystkie nasze produkty są
                    wysyłane szybko i niezawodnie, aby
                    zapewnić Ci jak najszybsze otrzymanie swoich zakupów. Nasz zespół logistyczny pracuje ciężko, aby
                    zapewnić
                    niezawodną i szybką dostawę, niezależnie od tego, gdzie mieszkasz.
                </div>
            </div>
            <div class="card my-5">
                <div class="card-header">
                    <p class="card-header-title">Bezpieczeństwo</p>
                </div>
                <div class="card-content">Bezpieczeństwo i prywatność naszych klientów są dla nas niezwykle ważne.
                    Dlatego nasza strona jest
                    zabezpieczona
                    najnowszymi technologiami, aby zapewnić bezpieczeństwo Twoich dany
                </div>
            </div>
        </main>
    </div>
{% endblock %}